Enritual_/Library/metadata/
Enritual_/Library/ShaderCache/
Enritual_Rae/Library/
Enritual_Rae/Temp/
Enritual_Rae/ProjectSettings/ProjectVersion.txt
Enritual_Rae/Enritual_Rae.userprefs
Enritual_Rae/Assembly-CSharp-Editor.csproj
Enritual_Rae/Assembly-CSharp-firstpass.csproj
Enritual_Rae/Assembly-CSharp.csproj
